<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardAttachMapper">

	<insert id="insert">
	
		INSERT 
		  INTO BOARD.TBL_ATTACH 
			 (
				  UUID
				, UPLOADPATH
				, FILENAME
				, FILETYPE
				, BNO
			 )
		VALUES 
			 (
				#{uuid}
				, #{uploadPath}
				, #{fileName}
				, #{fileType}
				, #{bno} 
			 )
			
	</insert>

	<delete id="delete">

		DELETE 
		  FROM BOARD.TBL_ATTACH 
		 WHERE UUID = #{uuid}

	</delete>

	<select id="findByBno" resultType="org.zerock.domain.BoardAttachVO">
	
		SELECT UUID
			 , UPLOADPATH
			 , FILENAME
			 , FILETYPE
			 , BNO
		  FROM BOARD.TBL_ATTACH 
		 WHERE BNO = #{bno}
		
	</select>

	<delete id="deleteAll">

		DELETE BOARD.TBL_ATTACH 
		 WHERE BNO = #{bno}

	</delete>

	<select id="getOldFiles" resultType="org.zerock.domain.BoardAttachVO">

		SELECT UUID
			 , UPLOADPATH
			 , FILENAME
			 , FILETYPE
			 , BNO 
		  FROM BORAD.TBL_ATTACH 
		 WHERE UPLOADPATH = TO_CHAR(SYSDATE -1 ,'yyyy\mm\dd')		

	</select>

</mapper>